<h1>Настройки</h1>
<ul id = "vertical_menu">
  <li><%= link_to "Создать новое подразделение", new_department_path %></li>
  <li><%= link_to "Создать пользователя", add_newuser_path %></li>
  <li><%= link_to "Настройка SLA", new_sla_path %></li>
</ul>
