<h1>Easy HD</h1>
<p>Система технической поддержки для вашего бизнеса</p>
<div id="auth_block"></div>
<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
